header{
    background: rgb(36, 113, 163 );
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: initial;
    

}
header nav a {
    background: rgb(36, 113, 163 );
    color: rgb(245, 245, 245);
    text-align: center;
    text-decoration:none;
    padding: 10px;
    flex-grow: 1 ;
}

header nav {
    overflow: hidden;
    width: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.nav-btn{
    display: flex;
    justify-content: flex-end;
}
header h1 {
    font-family: "nyt-karnakcondensed";
    font-weight: 700;
    font-size: 28px;
}
a:-webkit-any-link {
    color: rgb(11, 11, 12);
    cursor: pointer;
}    
a {
    text-decoration: none;
}
:link {
    color: rgb(11, 11, 12);
    cursor: pointer;
}


body {
    background-color: rgb(23, 32, 42 );
    min-height: 100%;
    margin: 0;
    padding: 1rem;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
    display: flex;
    flex-direction: column;
}

.keyboard {
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3em;
    gap: .25em;
    padding-bottom: 1rem;
    display: grid;
    justify-content: center;
} 

.key {
    background-color: rgb(137, 137, 137 );
    font-size: inherit;
    grid-column: span 2;
    border: none;
    padding: 0;
    color: rgb(245, 245, 245);
    fill: rgb(245, 245, 245);
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.key.large {
    grid-column: span 3;
}  
.key:hover, .key:focus {
    --lightness-offset: 10%;
}
.guess-grid {
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    gap: .25em;
    margin-bottom: 1em;
    padding-top: 1rem;
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
}  
.tile {
    font-size: 2em;
    color: rgb(245, 245, 245);
    border: .05em solid rgb(57, 57, 60);
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
    transition: transform 250ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tile[data-state="active"] {
    border-color: hsl(200, 1%, 34%);
}
  
.tile[data-state="wrong"] {
    border: none;
    background-color: hsl(240, 2%, 23%);
}
  
.tile[data-state="wrong-location"] {
    border: none;
    background-color: hsl(49, 51%, 47%);
}
  
.tile[data-state="correct"] {
    border: none;
    background-color: hsl(115, 29%, 43%);
}
  
.tile.shake {
    animation: shake 250ms ease-in-out;
}
  
.tile.dance {
    animation: dance 500ms ease-in-out;
}
  
.tile.flip {
    transform: rotateX(90deg);
}   
.key.wrong {
    background-color:rgb(57, 57, 60) 
}
  
.key.wrong-location {
    background-color: rgb(194, 178, 104)
}
  
.key.correct {
    background-color: rgb(23, 136, 44 );
}

footer {
    background: rgb(36, 113, 163 );;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .links {
    background: #3282b8;
    display: flex;
    flex-wrap: wrap;
}

footer .links a {
    flex-grow: 1;
    color: rgb(245, 245, 245);
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
footer .links a:hover {
    background: rgb(50, 130, 184);
} 
footer .social {
    background: rgb(50, 130, 184);
}
footer .social a {
    color:rgb(245, 245, 245);
    text-decoration:none;
    padding: 10px;
    display: inline-block;
}  

.alert-container {
    position: fixed;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .alert {
    pointer-events: none;
    background-color: hsl(204, 7%, 85%);
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    margin-bottom: .5em;
  }
  
  .alert:last-child {
    margin-bottom: 0;
  }
  
  .alert.hide {
    opacity: 0;
  }
  *, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial;
  }